/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  transition: all ease 0.25s;
}

body {
  background-color: #f9fafb;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-color: #e5e7eb;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 25px 80px;
  font-size: 0.875rem;
}

body > header > .toggle_mode {
  border: #e5e7eb solid 1px;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 9px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}
.container_outer {
  position: relative;
  max-width: 550px;
  background: #fff;
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 0 20px 5px #e5e7eb;
}
.container_outer.input {
  width: 90%;
  aspect-ratio: 10/6;
}
.container_outer.loader {
  width: 90%;
  height: auto;
  padding: 40px 0;
}
.container_outer.result {
  max-height: 400px;
  display: flex;
}

.result_container {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.input_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-color: #e5e7eb;
  border-style: dashed;
  border-width: 2px;
  border-radius: 12px;
  text-align: center;
}

.input_container > footer > div > p:first-of-type {
  font-weight: bolder;
  font-size: 0.875rem;
}

.input_container > footer > div > p:last-of-type {
  font-weight: normal;
  font-size: 0.75rem;
}

label[for="file-input"] > span {
  color: #3662e3;
  position: relative;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: #6885de;
  }
}

input[type="file"] {
  display: none;
}

#drop-zone.dragover {
  border-color: #3662e3;
  background-color: #c2daf9;
}

#drop-zone.hidden {
  display: none;
}
#drop-zone.visible {
  display: flex;
}

.progress_container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.progress_container.hidden {
  display: none;
}
.progress_container.visible {
  display: flex;
}

.loader_bar {
  width: 80%;
  height: 5px;
  position: relative;
  background-color: #e5e7eb;
  overflow-x: hidden;
  border-radius: 12px;
}

.progress_bar {
  width: 20%;
  height: 100%;
  background-color: #3498db;
  position: relative;
  animation: move 1s infinite linear;
  border-radius: 12px;
}

@keyframes move {
  0% {
    left: -20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

@media screen and (min-width: 720px) {
}
