:root {
  --main-gray: #f0f4f7;
  --main-gray-dark: color-mix(in srgb, var(--main-gray), black 1%);
  --main-gray-light: color-mix(in srgb, var(--main-gray), white 40%);
  --main-gray-lighter: color-mix(in srgb, var(--main-gray), white 75%);
  --main-purple: #753ee4;
  --main-purple-transparent: #753ee42a;
  --main-purple-light: color-mix(in srgb, var(--main-purple), white 15%);
  --main-purple-dark: color-mix(in srgb, var(--main-purple), black 10%);
}
